# Instagram Graph API
# ビジネス/クリエイターアカウント + Facebook ページが必要
# https://developers.facebook.com/docs/instagram-api
INSTAGRAM_ACCESS_TOKEN=your_long_term_access_token_here
INSTAGRAM_ACCOUNT_ID=your_instagram_business_account_id_here

# TikTok for Developers (Content Posting API v2)
# https://developers.tiktok.com/doc/content-posting-api-get-started
TIKTOK_CLIENT_KEY=your_client_key_here
TIKTOK_CLIENT_SECRET=your_client_secret_here
TIKTOK_ACCESS_TOKEN=your_user_access_token_here
